{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h2>Ajouter un voeu</h2>
        {{ form_start(wishForm) }}

        <button type="submit">Envoyer !</button>
        {{ form_end(wishForm) }}
    </div

{%endblock%}
